<link href="/css/bootstrap.min.css" rel="stylesheet">
<script src="/jq/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="stylesheets/style.css">

<nav class="navbar navbar-default" role="navigation">
    <!--<div class="container-fluid navbar-collapse collapse">-->
    <% if (user) { %>
    <div class="navbar_controls">
        <ul class="nav navbar-nav navbar-left">
            <li>
                <b><%= 'Hello,  ' + user.username %></b>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <div class="navbar_controls">
                    <a href='/'>Main</a>
                </div>
            </li>
            <li>
                <div class="navbar_controls">
                    <a href='/logout'>Log out</a>
                </div>
            </li>
            <li>
                <div class="navbar_controls">
                    <a href='/docs/api/v1'>API</a>
                </div>
            </li>
        </ul>
    </div>
    <% } else { %>
    <div class="navbar_controls">
        <ul class="nav navbar-nav navbar-left">
            <li>
                <div class="navbar_controls">
                    <a href='/login'>Log in</a>
                </div>
            </li>
            <li>
                <div class="navbar_controls">
                    <a href='/sign_up'>Sign up</a>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <div class="navbar_controls">
                    <a href='/'>Main</a>
                </div>
            </li>
            <li>
                <div class="navbar_controls">
                    <a href='/docs/api/v1'>API</a>
                </div>
            </li>
        </ul>
    </div>
    <% } %>
    <!--</div>-->
</nav>
