<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My lab 1</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<a href="/events"><H1 id="mainpage_info">Look through the upcoming events</H1></a>
</body>
</html>