<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<form action="/sign_up" method="post"  method='POST'>
    <label>Username:</label>
    <input type='text' name='username' class='form-control' placeholder="enter username" />
    <label>Password:</label>
    <input type='password' name='password' class='form-control' value='' />
    <button type='submit' class='btn btn-primary'>Register</button>
</form>
</body>
</html>