<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new event</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/jq/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/validation.css">
    <script src="javascripts/validate_adding.js"></script>
</head>
<body>
    <div class="container">
        <div class="col-md-2"> </div>
        <div class="col-md-8">
            <H2>Create new event.</H2>
            <form action="/add" method="post" enctype="multipart/form-data" onsubmit="return(validate());">
                <label for="name">Name:</label>
                <input id="event_name" type="text" id="name" name="name" class='form-control'
                       oninput='validate_name(name);' required/> <br>
                <div class="alert-danger err" id="name_too_long">Name is too long: limit is 50 symbols.</div>

                <label for="place">Place:</label>
                <input id="event_place" type="text" id="place" name="place" class='form-control'
                       oninput='validate_place(place);'/> <br>
                <div class="alert-danger err" id="place_too_long">Place is too long: limit is 50 symbols.</div>

                <label for="duration">Duration:</label>
                <input id="event_duration" type="number" id="duration" name="duration" value="60" class='form-control'
                       oninput='validate_duration(duration);'/> <br>
                <div class="alert-danger err" id="duration_invalid">Please, enter valid duration.</div>

                <label for="date">Date:</label>
                <input type="date" id="date" name="date" class='form-control' required/> <br>

                <label for="pic">Event pic:</label>
                <input type="file" name="pic" class='form-control' required/> <br>

                <button class="btn btn-block btn-lg" type="submit">Create</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>

</body>
</html>