<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lab</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/jq/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <%if(code == 404) {%>
        <H1>404<br>Sorry, i can`t find such page.</H1>
    <%} else if (code == 500) {%>
        <H1>500<br>Sorry, an error happened on the server.</H1>
    <%} else if (code == 401) {%>
        <H1>401<br>You are not authorised to view this page.</H1>
    <%}%>

</body>
</html>