<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/jq/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <div class="container">
        <div class="col-md-2"> </div>
        <div class="col-md-8">
            <H2>Log in to continue.</H2>
            <form action="/login" method="post">
                <label for="username">Username:</label>
                <input type='text' name='username' placeholder="enter username" class='form-control' />

                <label for="username">Password:</label>
                <input type='password' name='password' value='' class='form-control' />
                <button class="btn btn-block btn-lg" type="submit">Log in</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</body>
</html>