<% include partials/header %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/jq/jquery.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js'></script>
    <script src="/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/style_search.css">
    <script src="javascripts/search.js"></script>

    <script id="my-list-template" type="x-tmpl-mustache">
    <div class="col-md-12">
        <ul>
            {{#list}}
            <div class="container-fluid">
                <li>
                    <div class="col-md-10 event_block">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                    {{name}}
                            </div>
                            <div class="panel-body">
                            <div class="col-md-5">
                                    <img alt="event image" src="{{picture}}">
                            </div>
                                <div class="col-md-6">
                                    <div class="col-md-3">Place </div>
                                    <div class="col-md-8 container">
                                        <span class="rwd-line"> <div> {{place}} </div> </a> </span>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>
                                    <div class="col-md-3">Date</div>
                                    <div class="col-md-9 container">
                                        <span class="rwd-line"> <div> {{ date }} </div> </a> </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </li>
            </div>
            {{/list}}
        </ul>
        </div>
    </script>
</head>
<body>

<div><a href="/events" class="back_button">Back to all events</a></div>

<form id="search_area" action="/search" method="get">
    <input type="text" id="input" placeholder="Search for events by name..." name="input">
    <button type="submit">Search</button>
</form>

<div id="res_events" class="container-fluid">

</div>

</body>
</html>