<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/jq/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="javascripts/validate_signup.js"></script>
</head>
<body>
    <div class="container">
        <div class="col-md-2"> </div>
        <div class="col-md-8">
            <H2>Sign up.</H2>
            <form action="/sign_up" method="post" onsubmit="return(validate());">
                <label for="username">Username:</label>
                <input type='text' name='username' placeholder="enter username" class='form-control' required/>

                <label for="username">Password:</label>
                <input type='password' name='password' value='' class='form-control' id="pass_input"
                       oninput='validate_pass(password)' required/>
                <div class="alert-danger" id="pass_to_short">Please, choose password at least 4 symbols long.</div>
                <button class="btn btn-block btn-lg" type="submit">Sign up</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</body>
</html>